html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="dsfr/dsfr.css")
        script(src="dsfr/dsfr.module.js") 
body 
    header.fr-header
        div.fr-container
            nav.fr-nav
                ul.fr-nav__list
                    li.fr-nav__item
                        a(href="/").fr-nav__link Magasin
                    li.fr-nav__item
                        a(href="/produits").fr-nav__link Produits
