- title = "magasin Direction Générale de l'Armement Techniques Terrestres - Bourges"

include includes/head.pug

main.fr-container.fr-py-3w
    h1 Magasin DGA TT - Bourges
    a(href="/produits").fr-btn Voir les produits